/* =========================================================
   1. VARIABLES
========================================================= */
:root {
    --yellow: #f7c600;
    --dark: #222;
    --light: #fff;
    --grey: #f5f5f5;
    --blue: #003366;
}

/* =========================================================
   2. BASE
========================================================= */
body {
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--grey);
    color: var(--dark);
}
